* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

.navigation__list {
  position: fixed;
  background-color: #162955;
  list-style: none;
  opacity: 1;
  width: 0;
  height: 50%;
  z-index: -1;
  transition: all 0.2s; }

.navigation__show {
  width: 50%;
  padding: 7rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1; }

.navigation__item {
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #4f628e; }

.navigation__link {
  cursor: pointer;
  text-decoration: none;
  color: #fff; }

.navigation__icon {
  z-index: 2;
  position: fixed;
  display: inline-flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-left: 1rem;
  cursor: pointer; }
  .navigation__icon-line-hamburger {
    transition: all 0.2s; }
  .navigation__icon-line-close {
    position: absolute;
    padding: 1rem 1rem;
    margin-top: 2.2rem;
    top: 0;
    left: 0; }
    .navigation__icon-line-close:nth-child(2) {
      opacity: 0; }
    .navigation__icon-line-close:first-child {
      transform: rotate(135deg);
      transition: all 0.2s; }
    .navigation__icon-line-close:last-child {
      transform: rotate(-135deg);
      transition: all 0.2s; }

.header {
  display: flex; }

.brand {
  margin-left: auto;
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: 1.3rem; }

.home {
  margin-top: 7rem;
  background: url("../img/home-small.jpg") fixed center no-repeat;
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .home__text {
    color: #fff;
    font-size: 2rem; }

.about {
  padding: 2rem; }
  .about__text {
    text-align: center;
    columns: 2 0.3rem;
    column-rule: 1px solid gray; }

.projects {
  padding-top: 3rem; }
  .projects__card-title {
    padding: 2rem 0;
    background-color: #4f628e;
    border-top: 4px solid #2e4172;
    border-bottom: 4px solid #2e4172;
    text-align: center; }
  .projects__card-image {
    width: 100%; }
  .projects__card-description {
    display: flex;
    flex-direction: column; }
  .projects__card-text {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 0;
    background-color: #4f628e;
    border-top: 4px solid #2e4172; }
    .projects__card-text:not(:first-child) {
      border-bottom: 4px solid #2e4172; }
  .projects__card-link {
    text-decoration: none;
    color: #551300;
    border-bottom: solid 0.5px #551300;
    font-weight: 600; }

body {
  height: 200rem; }

@keyframes slide-in {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(-1); } }

@keyframes slide-out {
  from {
    transform: scaleX(-1); }
  to {
    transform: scaleX(0); } }
