.navigation {
  &__list {
    position: fixed;
    background-color: $color-primary-light;
    list-style: none;
    opacity: 1;
    width: 0;
    height: 50%;
    //kept acting up
    z-index: -1;
    transition: all 0.2s;
  }
  &__show {
    width: 50%;
    padding: 7rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
  }
  &__item {
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-bottom: 1px solid $color-secondary-light;
  }
  &__link {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }
  &__icon {
    z-index: 2;
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;

    //javascript toggles hamburger and close
    &-line {
      &-hamburger {
        transition: all 0.2s;
      }
      &-close {
        position: absolute;
        padding: 1rem 1rem;
        margin-top: 2.2rem;
        top: 0;
        left: 0;

        &:nth-child(2) {
          opacity: 0;
        }
        &:first-child {
          transform: rotate(135deg);
          transition: all 0.2s;
        }
        &:last-child {
          transform: rotate(-135deg);
          transition: all 0.2s;
        }
      }
    }
  }
}
//not needed for mobile
// #icon:hover {
//   transform: scale(0.9);
//   transition: all 0.2s;
// }
.header {
  display: flex;
}
.brand {
  margin-left: auto;
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: 1.3rem;
}

.home {
  margin-top: 7rem;
  //darken image later
  background: url("../img/home-small.jpg") fixed center no-repeat;
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    color: #fff;
    font-size: 2rem;
  }
}
.about {
  padding: 2rem;
  &__text {
    text-align: center;
    columns: 2 0.3rem;
    // column-gap: 1rem;
    column-rule: 1px solid gray;
  }
}
//project section starts
.projects {
  padding-top: 3rem;
  &__card {
    &-title {
      padding: 2rem 0;
      background-color: $color-secondary-light;
      border-top: 4px solid $color-secondary-dark;
      border-bottom: 4px solid $color-secondary-dark;
      text-align: center;
    }
    &-image {
      width: 100%;
    }
    &-description {
      display: flex;
      flex-direction: column;
    }
    &-text {
      font-size: 1.4rem;
      text-align: center;
      padding: 1rem 0;
      background-color: $color-secondary-light;
      border-top: 4px solid $color-secondary-dark;

      &:not(:first-child) {
        border-bottom: 4px solid $color-secondary-dark;
      }
    }
    &-link {
      text-decoration: none;
      color: $color-tertiary-dark;
      border-bottom: solid 0.5px $color-tertiary-dark;
      font-weight: 600;
    }
  }
}
//delete after
body {
  height: 200rem;
}
