//colors
$color-primary-dark: #061539;
$color-primary-light: #162955;

$color-secondary-dark: #2e4172;
$color-secondary-light: #4f628e;
$color-secondary-lighter: #7887ab;

$color-tertiary-dark: #551300;
$color-tertiary-light: #802d15;
